.paginate-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  padding: 5px;
  font-family: arial;
  color: gray;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.paginator {
  display: flex;
  gap: 5px;
  justify-content: end;
}

.num-results, .paginator {
  flex-grow: 1;
  flex-basis: 0;
}

.prev-page,
.next-page {
  display: none;
}

.paginate-button {
  width: 120px;
}

@media(max-width: 650px) {
  .paginate-bar {
    flex-direction: column;
    align-items: center;
  }

  .num-results, .paginator {
    margin-left: revert;
    margin-right: revert;
  }
}