code {
  background: #1D1F200D;
  padding: 2px;
}

pre > code {
  background: #1D1F200D;
  display: grid;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 14px;
}

table {
  margin: 10px 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 13px;
}

th, td {
  padding: 4px;
  min-width: 250px;
}

blockquote {
  background-color: #f3f3f4;
}

blockquote p {
  padding: 4px;
  font-style: italic;
}

ul {
  margin: 4px 0;
}

p {
  margin: 10px 0;
}

.algolia-facet {
  max-width: 230px !important;
}

@media (max-width: 700px) {
  .algolia-facet {
    max-width: 150px !important;
  }
}

.algolia-variants {
  max-width: 300px;
  float: right;
}

@media (max-width: 700px) {
  .algolia-variants {
    max-width: revert;
    float: revert;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

.algolia-range-facet {
  max-width: 100px !important;
}